* {
    font-family: 'Comfortaa', cursive;
    color: #333333;
}

#wrapperHome {
    overflow: hidden;
}
#wrapperTutorial {
    width: 80%;
    height: 1000px;
    margin: auto;
    overflow: hidden;
}

.descriptionHome {
    margin: 10%;
    max-width: 40%;
    float:left;
}

.loginButtonHome {
    margin-left: 14%;
    margin-top: 2%;
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    width: 150px;
}



.loginButtonHome:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .loginButtonHome:active {
    background-color: white;
    color: #333333;
 }

.homeButtonHome {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    width: 230px;
}

.homeButtonHome:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .homeButtonHome:active {
    background-color: white;
    color: #333333;
 }

.mainLogoHome {
    margin-top: 15px;
    width: 450px;
    padding-bottom: 40px;
}

h1 {
    font-size: 65px;
}


.sideProfileHome {
    overflow: hidden;
    margin: 10%;
    margin-top: 5%;
    padding-left: 8%;
    height: 52%;

}

.loggedUserNameHome {
    font-size: 30px;
    margin-left: 5%;
    margin-top: 8%;
    max-width:300px;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notloggedUserNameHome {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 8%;
}


p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 5%;
}

.tutorialVideoHome {
    height: auto;
    margin: auto;
    float:left;
    padding-bottom: 10%;
}

.tutorialTextHome {
    height: 405px;
    margin-right: 15%;
    width: 35%;
    float: right;
    overflow: hidden;
}

.tutorialTitleHome {
    margin: auto;
    margin-left: 35%;
    padding-bottom: 50px;
}

iframe {
    border-radius: 20px;
    margin-left: 30%;

}

.profileButtonHome {
    background-color: white;
    border-radius: 50px;
    border-color: #e6e6e6;
    font-weight: bold;
    padding: 15px;
    font-size: 25px;
    margin-top: 3%;
    width: 300px;
}

.profileButtonHome:hover {
    background-color: #e6e6e6;
    color: white;
    transition: all .2s ease;
 }

 .profileButtonHome:active {
    background-color: white;
    color: #e6e6e6;
 }