* {
    font-family: 'Comfortaa', cursive;
    color: #333333;
}

#wrapperProjects {
    overflow: hidden;
}

h5{
    font-weight: lighter;
    margin-left: 10px;
}
.sideBarProjects {
    float: left;
    margin: 10%;
    margin-bottom: 0%;
    margin-top: 6%;
    max-width: 40%;
}
.userpicProjects{
    margin-bottom: 15%;
    margin-left: 80px;
    width: 150px;
}

.projectsProjects{
    display: inline-block;
    max-width: 1000px;
    margin: 10%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-top:6%;
}
.listofProjectsProjects {
    width: 770px;
    max-width: 770px;
    max-height: 450px;
    margin-top: 5%;
    overflow-y: scroll;
}

.projectProjects {
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: #e6e6e6;
    border-color: #333333;
    border-width: thin;
    border-radius: 10px;
    margin: 1%;
    padding: 20px;
}

.projectProjects:hover{
    background-color: lightgray;
    cursor: pointer;
}

.ProjectsTitleProjects {
    width: 720px;
}

.plusSignProjects {
    margin-top: 5%;
    font-weight: lighter;
    text-align: center;
}
.addTextProjects {
    text-align: center;
    margin: auto;
    font-size: 30px;
}
.addprojectProjects {
    float: left;
    width: 350px;
    height: 200px;
    background-color: #e6e6e6;
    border-color: #333333;
    border-style: dashed;
    border-width: thin;
    border-radius: 10px;
    margin:1%;
    padding: 20px;
}
.addprojectProjects:hover {
    background-color: #33333352;
    color: white;
    transition: all .2s ease;
}

.buttonListProjects {
    width: 300px;
}

.usernameProjects{
    margin: 0;
    max-width:300px;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectNameProjects{
    font-size: 30px;
    text-align: left;
}

.detailsProjects {
    margin-top: -6%;
    font-size: 16px;
}
.detailsUsersProjects {
    margin-top: -6%;
    margin-bottom: -5%;
    font-size: 16px;
}

.projectMembersButtonProjects {
    background-color: #e6e6e6;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 5px;
    margin-top: -10%;
    font-size: 15px;
    width: 150px;
}

.projectMembersButtonProjects:hover {
    background-color: #333333;
    color: #e6e6e6;
    transition: all .2s ease;
}
.projectMembersButtonProjects:active {
    background-color:  #e6e6e6;
    color:#333333;
    transition: all .2s ease;
}
.createButtonProjects {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}
.createButtonProjects:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
}
 .createButtonProjects:active {
    background-color: white;
    color: #333333;
}
 .elseButtonProjects {
    background-color: white;
    border-radius: 50px;
    border-color: #e6e6e6;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}
.elseButtonProjects:hover {
    background-color: #e6e6e6;
    color: white;
    transition: all .2s ease;
}
 .elseButtonProjects:active {
    background-color: white;
    color: #e6e6e6;
}