* {
    font-family: 'Comfortaa', cursive;
    color: #333333;
}

#wrapperTasks {
    overflow: hidden;
}

.sideBarTasks {

    float: left;
    margin: 10%;
    margin-bottom: 0%;
    margin-top: 6%;
    max-width: 40%;
}
.userpicTasks{
    margin-bottom: 15%;
    margin-left: 80px;
    width: 150px;
}

.tasks{
    display: inline-block;
    margin-bottom: 0%;
    margin-top:6%;
}

.task:hover{
    background-color: lightgray;
    cursor: pointer;
}

.listOfTasks {
    max-width: 1500px;
    width: 1000px;
    max-height: 700px;
    height: 500px;
    margin-top: 5%;
    overflow-y: scroll;
}

.tasksListHeader{
    background-color: #e6e6e6;
}

.plusSign {
    margin-top: 30px;
    font-weight: lighter;
    text-align: center;
}

.addText {
    text-align: center;
    margin: auto;
    font-size: 40px;
}


.buttonListTasks {
    width: 300px;
}

.usernameTasks{
    margin: 0;
    max-width:300px;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



p {
    font-size: 16px;
    margin-bottom: 0;
}


.addTaskButton {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    margin-top: 3%;
}
.deleteTask {
    background-color: white;
    border-radius: 10px;
    border-color: #333333;
    font-weight: bolder;
    padding: 2px;
    font-size: 15px;
    width: 100px;
}

.addTaskButton:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

.taskTitle {
    max-width:50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskImportance {
   border-style: dashed;
}

 .deleteTask:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .addTaskButton:active {
    background-color: white;
    color: #333333;
 }
 .deleteTask:active {
    background-color: white;
    color: #333333;
 }

.createButtonTasks {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}

.createButtonTasks:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .createButtonTasks:active {
    background-color: white;
    color: #333333;
 }

 .elseButtonTasks {
    background-color: white;
    border-radius: 50px;
    border-color: #e6e6e6;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}

.elseButtonTasks:hover {
    background-color: #e6e6e6;
    color: white;
    transition: all .2s ease;
 }

 .elseButtonTasks:active {
    background-color: white;
    color: #e6e6e6;
 }