* {
    font-family: 'Comfortaa', cursive;
    color: #333333;
}

#wrapper {
    overflow: hidden;
}

.sideBarTasks {
    float: left;
    margin: 10%;
    margin-top: 13%;
    max-width: 40%;
}
.userpic{
    margin-bottom: 15%;
    margin-left: 80px;
    width: 150px;
}


.listOfTasks {
    max-width: 1500px;
    width: 1000px;
    max-height: 700px;
    height: 500px;
    margin-top: 5%;
    overflow-y: scroll;
}

.tasksListHeader{
    background-color: #e6e6e6;
}

.teamsTitle {
    width: 720px;
}

.plusSign {
    margin-top: 30px;
    font-weight: lighter;
    text-align: center;
}

.addText {
    text-align: center;
    margin: auto;
    font-size: 40px;
}

.addTeam {
    float: left;
    width: 450px;
    height: 250px;
    background-color: #e6e6e6;
    border-color: #333333;
    border-style: dashed;
    border-width: thin;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.addTeam:hover {
    background-color: #33333352;
    color: white;
    transition: all .2s ease;
}

.buttonList {
    width: 300px;
}

.username{
    margin: 0;
    max-width:300px;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.teamName{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

.teamMembersButton {
    background-color: #e6e6e6;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
    width: 150px;
}

.teamMembersButton:hover {
    background-color: #333333;
    color: #e6e6e6;
    transition: all .2s ease;
}

.teamMembersButton:active {
    background-color:  #e6e6e6;
    color:#333333;
    transition: all .2s ease;
}

.addTaskButton {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    margin-top: 3%;
}

.addTaskButton:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .addTaskButton:active {
    background-color: white;
    color: #333333;
 }

.createButton {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}

.createButton:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
 }

 .createButton:active {
    background-color: white;
    color: #333333;
 }

 .elseButton {
    background-color: white;
    border-radius: 50px;
    border-color: #e6e6e6;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}

.elseButton:hover {
    background-color: #e6e6e6;
    color: white;
    transition: all .2s ease;
 }

 .elseButton:active {
    background-color: white;
    color: #e6e6e6;
 }