* {
    font-family: 'Comfortaa', cursive;
    color: #333333;
}

#wrapperTeams {
    overflow: hidden;
}
#wrapperTutorialTeams {
    width: 80%;
    height: 1000px;
    margin: auto;
    overflow: hidden;

}
h5{
    font-weight: lighter;
    margin-left: 10px;
}
.sideBarTeams {
    float: left;
    margin: 10%;
    margin-bottom: 0%;
    margin-top: 6%;
    max-width: 40%;
}
.userpicTeams{
    margin-bottom: 15%;
    margin-left: 80px;
    width: 150px;
}

.teamsTeams{
    display: inline-block;
    margin: 10%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-top:6%;
}
.listofteamsTeams {
    width: 770px;
    max-width: 770px;
    max-height: 450px;
    margin-top: 5%;
    overflow-y: scroll;
}

.teamTeams {
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: #e6e6e6;
    border-color: #333333;

    border-width: thin;
    border-radius: 10px;
    margin: 1%;
    padding: 20px;
}

.teamTeams:hover{
    background-color: lightgray;
    cursor: pointer;
}

.teamsTitleTeams {
    width: 720px;
}

.plusSignTeams {
    margin-top: 5%;
    font-weight: lighter;
    text-align: center;
}
.addTextTeams {
    text-align: center;
    margin: auto;
    font-size: 30px;
}
.addTeamTeams {
    float: left;
    width: 350px;
    height: 200px;
    background-color: #e6e6e6;
    border-color: #333333;
    border-style: dashed;
    border-width: thin;
    border-radius: 10px;
    margin:1%;
    padding: 20px;
}
.addTeamTeams:hover {
    background-color: #33333352;
    color: white;
    transition: all .2s ease;
}

.buttonListTeams {
    width: 300px;
}

.usernameTeams{
    margin: 0;
    max-width:300px;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.teamNameTeams{
    font-size: 30px;
    text-align: left;
}

.detailsTeams {
    margin-top: -6%;
    font-size: 16px;
}
.detailsUsersTeams {
    margin-top: -6%;
    margin-bottom: -5%;
    font-size: 16px;
}

.teamMembersButtonTeams {
    background-color: #e6e6e6;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 5px;
    margin-top: -10%;
    font-size: 15px;
    width: 150px;
}

.teamMembersButtonTeams:hover {
    background-color: #333333;
    color: #e6e6e6;
    transition: all .2s ease;
}
.teamMembersButtonTeams:active {
    background-color:  #e6e6e6;
    color:#333333;
    transition: all .2s ease;
}
.createButtonTeams {
    background-color: white;
    border-radius: 50px;
    border-color: #333333;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}
.createButtonTeams:hover {
    background-color: #333333;
    color: white;
    transition: all .2s ease;
}
 .createButtonTeams:active {
    background-color: white;
    color: #333333;
}
 .elseButtonTeams {
    background-color: white;
    border-radius: 50px;
    border-color: #e6e6e6;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    width: 300px;
    margin-top: 30px;
}
.elseButtonTeams:hover {
    background-color: #e6e6e6;
    color: white;
    transition: all .2s ease;
}
 .elseButtonTeams:active {
    background-color: white;
    color: #e6e6e6;
}